<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.helloworld">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".Service.MyService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".Service.ServiceActivity" />
        <activity android:name=".Service.UiUpdateActivity" />
        <activity android:name=".web.WebApiActivity" />
        <activity android:name=".SQLitestorage.LitePalActivity" />
        <activity android:name=".broadcast.BroadActivity2" />
        <activity android:name=".ObjectAnimActivity" />
        <activity android:name=".SQLitestorage.DataActivity" />
        <activity android:name=".broadcast.BroadActivity" />
        <activity android:name=".datastorage.SharedPerferencesActivity" />
        <activity android:name=".datastorage.DataStorageActivity" />
        <activity android:name=".ex.ExThreadActivity" />
        <activity android:name=".ex.ExerciseActivity" />
        <activity android:name=".fragment.ContainerActivity" />
        <activity android:name=".datastorage.FileActivity" />
        <activity android:name=".OtherActivity" />
        <activity
            android:name=".jump.AActivity"
            android:label="A" />
        <activity
            android:name=".jump.BActivity"
            android:label="B" />
        <activity android:name=".HandlerActivity" />
        <activity android:name=".denglu.activity.LoginActivity" />
        <activity android:name=".Exercise.SkypeViewActivity" />
        <activity android:name=".EventActivity" />
        <activity android:name=".LifeCycleActivity" />
        <activity android:name=".ConstraintViewActivity" />
        <activity android:name=".PopupWindowActivity" />
        <activity android:name=".CustomDialogActivity" />
        <activity android:name=".UIActivity" />
        <activity android:name=".DialogActivity" />
        <activity android:name=".ProgressActivity" />
        <activity android:name=".recyclerview.PuRecyclerViewActivity" />
        <activity android:name=".recyclerview.LinearRecyclerViewActivity" />
        <activity android:name=".recyclerview.HorRecyclerViewActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".ImageViewActivity" />
        <activity android:name=".datastorage.FileOutActivity" />
        <activity android:name=".ToastActivity" />
        <activity android:name=".recyclerview.RecyclerViewActivity" />
        <activity android:name=".CheckBoxActivity" />
        <activity android:name=".RadioButtonActivity" />
        <activity android:name=".EditExActivity" />
        <activity android:name=".EditTextActivity" />
        <activity android:name=".ButtonActivity" />
        <activity android:name=".TextViewActivity" />
        <activity android:name=".recyclerview.GridRecyclerViewActivity" />
        <activity android:name=".gridview.GridViewActivity" />
        <activity android:name=".ListView.ListViewActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>